# Pandas

In [1]:
import pandas as pd

- When you need to have mixed data types (numeric and string) in the same data structure
- Advanced key-value management

In [3]:
firstSeries = pd.Series([1,2,3,4])

In [6]:
firstSeries[2]

3

In [50]:
states = ['Texas', 'Rhode Island', 'Nebraska'] # string
population = [ 1.91E6, 1.06E6,27.86E6]         # float
electoral_votes = [38, 3, 5]                   # integer
is_west_of_MS = [True, False, True]            # Boolean

In [51]:
headers = ('State', 'Population', 'Electoral Votes', 'West of Mississippi')
data = (states, population, electoral_votes, is_west_of_MS)
data_dict = dict(zip(headers, data))

In [52]:
df1 = pd.DataFrame(data_dict)
df1

          State  Population  Electoral Votes  West of Mississippi
0         Texas   1910000.0               38                 True
1  Rhode Island   1060000.0                3                False
2      Nebraska  27860000.0                5                 True

In [39]:
df1['Population']

0     1910000.0
1     1060000.0
2    27860000.0
Name: Population, dtype: float64

In [54]:
df1.groupby('West of Mississippi').agg('mean')

                     Population  Electoral Votes
West of Mississippi
False                 1060000.0              3.0
True                 14885000.0             21.5

In [55]:
df1['More than Two Million'] = df1['Population'].apply(lambda x: x >21E6)
df1

,State,Population,Electoral Votes,West of Mississippi,More than Two Million
0,Texas,1910000.0,38,True,False
1,Rhode Island,1060000.0,3,False,False
2,Nebraska,27860000.0,5,True,True